mixin hotel(hotel)
    
    .li.glide__slide
        .card
            .card-image
                a(href=`/all/${hotel._id}`)
                    img.img(src=`https://res.cloudinary.com/dpmmpzfrw/image/upload/${hotel.image}.jpg`)
            .card-body
                //- label.badge.badge-pill.badge-warning Travel
                h4.card-title= hotel.hotel_name
                hr
                p= hotel.hotel_description
                .card-footer
                    .author
                        i.fa.fa-heart(aria-hidden='true') 
                        span= `Stars: ${hotel.star_rating}`
                    .stats
                        p Price per night: 
                        i.fa.fa-heart(aria-hidden='true')
                            = hotel.cost_per_night

